; 请妥善保管您的配置
registry=https://tjcz-front-npm.pkg.coding.net/tjcz-front-components/repository/
always-auth=true
//tjcz-front-npm.pkg.coding.net/tjcz-front-components/repository/:username=repository-1584063911336
//tjcz-front-npm.pkg.coding.net/tjcz-front-components/repository/:_password=MDlkZDc2Nzg2YTIyOGIxODY5NTgyNmY2NDk2NmE5NWFkNDc5M2U0Mg==
//tjcz-front-npm.pkg.coding.net/tjcz-front-components/repository/:email=330151350@qq.com
